  .songCoverLeft{
    position:absolute;
    top: 0px;
    left: 0px;
    width: 50.8%;
    height: 100%;
    z-index: -1;
    opacity: .4;
  }
  .songCoverRight{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 49.2%;
    height: 100%;
    z-index: -1;
    opacity: .4;
  }
  p.songTitleLeft {
    display: flex;
    text-align: center;
    justify-content: center; /* Centering Horizantly */
    font-weight:999;
    font-size: 37px;
    color: white;
    position: absolute;
    font-family: "Dosis",sans-serif;
    top: 40px;
    left: 15.5%;
  }
  p.songTitleRight {
    display: flex;
    text-align: center;
    justify-content: center; /* Centering Horizantly */
    font-weight: 999;
    font-size: 37px;
    color: white;
    position: absolute;
    font-family: "Dosis", sans-serif;
    top: 40px;
    right: 11%;
  }

  