  .songCoverLeft{
    position:absolute;
    top: 0px;
    left: 0px;
    width: 50.8%;
    height: 100%;
    z-index: -1;
    opacity: .4;
  }
  .songCoverRight{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 49.2%;
    height: 100%;
    z-index: -1;
    opacity: .4;
  }
  p.songTitleLeft {
    font-weight:999;
    font-size: 35px;
    color: white;
    position: absolute;
    font-family: "Dosis",sans-serif;
    top: 125px;
    left: 9%;
  }
  p.songTitleRight {
    font-weight: 999;
    font-size: 35px;
    color: white;
    position: absolute;
    font-family: "Dosis", sans-serif;
    top: 125px;
    right: 5%;
  }

  