html, body{
  display: flex;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0%;
  overflow: hidden;
}

.wrap{
  box-sizing: border-box;
  position: relative;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 4;
  flex-direction: row;
  display: flex;
}
.bg-container{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 2;
}
.coverLeft {
  width: 100%;
  height: 100%;
  filter: brightness(30%);
}
.coverRight {
  width: 100%;
  height: 100%;
  filter: brightness(30%);
}
.textContent-left{
  z-index: 3;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 45%;
  margin: auto;  
  top: 20%;
  left: 10%;
  vertical-align: middle;
  color: white;
  font-family: Helvetica;
  text-align: center;
  font-size: 2.4em;
  letter-spacing: 2px;
}
.textContent-right{
  z-index: 3;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 45%;
  margin: auto; 
  top: 20%; 
  left: 10%;
  vertical-align: middle;
  color: white;
  font-family: Helvetica;
  text-align: center;
  font-size: 2.4em;
  letter-spacing: 2px;
  opacity: 90%;
  
}
.title {
  font-size: 40px;
  margin-bottom: 2%;
  margin-top: 0;

}
#Rartist{
  font-size: 18px;
  margin-bottom: 1%;
  margin-top: 0%;
  font-family: Helvetica;
}
#Lartist{
  font-size: 18px;
  margin-bottom: 1%;
  margin-top: 0%;
  font-family: Helvetica;
}
.ranked {
  margin-top: 1%;
  margin-bottom: 1%;

  font-family: Helvetica;
  font-size: 16px;
}
.rank {
  height: 40%;
  margin-top: 0%;
  margin-bottom: 0%;
  font-size: 100px;
  font-family: Brush Script MT;
  color: rgb(255, 249, 137);
}
#scroll{
  display: none;
  font: 800 40px system-ui;
  font-size: 100px;
  font-family: Brush Script MT;
  color: rgb(255, 249, 137);
}
#buttons{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 1%;

}
.button{
  width: 42%;
  height: 50px;
  display: inline-block;
  font-family: Helvetica;
  color:rgb(255, 249, 137);
  background-color: transparent;
  opacity: 100%;
  border-color: white;
  border-width: 2px;
  border-radius: 30px;
  border-style: solid;
  font-size: 16px;
  transition: background-color .15s, color .15s; 
}
.button:hover{
  cursor: pointer;
  background-color: white;
  color: black; 
}

#higher::after{
  content: "\25B2";
  padding-left: 20px;
  color: white;
}
#higher:hover::after{
  content: "\25B2";
  padding-left: 20px;
  color: black; 
  font-size: 20px;
}
#lower::after{
  content: "\25BC";
  padding-left: 20px;
  color: white;
}
#lower:hover::after{
  content: "\25BC";
  padding-left: 20px;
  color: black; 
  font-size: 20px;
}
.spacer{
  height: 5px;
}
.versus-container {
  z-index: 5;
  position: absolute;
  width: 10vw;
  height: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
  color: transparent;
  font-family: Helvetica;
  text-align: center;
  font-size: 2.5em;
  text-shadow: 1px 0 black;
  letter-spacing: 2px;
  background-color: transparent;
}
.vs-circle {
  position: relative;
  background: rgb(255, 255, 255);
  color: transparent;
  opacity: 100%;
  width: 80px;
  height: 80px;
  z-index: 5;
  text-align: center;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}
.vs {
  font-family: Helvetica;
  font-size: 30px;
  width: 100%;
  height: 100%;
  color: transparent;
}
.spacer-2 {
  height:100%;
}
.in {
  font-size: 15px;
}
.than{ 
  font-size: 16px;
  margin-bottom: 1%;
}
.scores{
  z-index: 5;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 45%;
  margin: auto; 
  vertical-align: middle;
  color: white;
  font-family: Helvetica;
  text-align: center;
  font-size: 22px;
  letter-spacing: 2px;
  top: -8%; 
  left: 10%;
  font-weight: 900;
}
#score{
  font-family: Helvetica;
  top: 75%; 
  left: 45%;
}
#highscore{
  top: 75%; 
  left: -22%;

}
#game_over_container{
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 5;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: auto;  
  vertical-align: middle;
  color: white;
  font-family: Helvetica;
  text-align: center;
  font-size: 2.4em;
  text-shadow: 1px 0 white;
  letter-spacing: 2px;
  display: none;
}
#finalscore{
  font-size: 40px;
  top: 5%; 
  left: 10%;
  color: rgb(255, 249, 137);;
}
#losingimage {
  z-index: 4;
  width: 100%;
  height: 100%;
  filter: brightness(75%);
}

.button1{  
  position: absolute;
  z-index: 5;
  width: 25%;
  height: 70px;
  display: inline-block;
  font-family: Helvetica;
  color:white;
  background-color: transparent;
  opacity: 100%;
  border-color: white;
  border-width: 2px;
  border-radius: 30px;
  border-style: solid;
  font-size: 30px;
  transition: background-color .15s, color .15s; 
}
#again{
  top: 40%;
  left: 52%;
}
#menu{
  top: 40%;
  left: 23%;
}
.button1:hover{
  cursor: pointer;
  background-color: white;
  color: black; 
}
#menu::after{
  padding-left: 20px;
  color: white;
}
#menu:hover::after{
  padding-left: 20px;
  color: black; 
  font-size: 20px;
}
#again::after{
  padding-left: 20px;
  color: white;
}
#again:hover::after{
  padding-left: 20px;
  color: black; 
  font-size: 20px;
}
.devs{
  font-size: 5px
}
.cons{
  font-size: 5px;
  left: 1%;
}

iframe{

  z-index: 3;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 15%;
  margin: auto; 
  bottom: 5%; 
  left: 10%;
  vertical-align: middle;
  color: white;
  font-family: Helvetica;
  text-align: center;
  font-size: 2.4em;
  text-shadow: 1px 0 white;
  letter-spacing: 2px;
  opacity: 90%;

}
@media only screen and (max-width:600px)
{
  html, body{
    display: flex;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0%;
    overflow: hidden;
    flex-direction: column;
  }
  .vs-circle {
    position: relative;
    background: rgb(255, 255, 255);
    color: transparent;
    opacity: 100%;
    width: 40px;
    height: 40px;
    z-index: 5;
    text-align: center;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
  }
  .vs {
    font-family: Helvetica;
    font-size: 20px;
    width: 100%;
    height: 100%;
    color: transparent;
  }
  .in {
    font-size: 7px;
  }
  .than{ 
    font-size: 8px;
    margin-bottom: 1%;
  }
  .ranked {

    font-size: 8px;
  }
  .title {
    font-size: 30px;
    margin-bottom: 2%;
    margin-top: 0;
  }
  
  .button{
    width: 22%;
    height: 20px;
 
    font-size: 8px;
  }
  #Rartist{
    font-size: 9px;
  }
  #Lartist{
    font-size: 9px;
  }
  
  .scores{
    font-size: 10px;
  
  }
  #score{
    top: -118%; 
    left: 52%;
  }
  #highscore{
    top: -19%; 
    left: -28%;
  }
  .rank {
    height: 40%;
    margin-top: 0%;
    margin-bottom: 5%;
    font-size: 60px;
    font-family: Brush Script MT;
    color: rgb(255, 249, 137);
  }
  #scroll{
    font-size: 60px;

  }
  .button1{  
    font-size: 15px;
  }

}
