body.game{
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: large;
  font-family: "Dosis",sans-serif;
  color: white;

}
.isRankedLeft{
  font-size: 20px;
  font-weight: lighter;
  color: white;
  position: absolute;
  top: 200px;
  left: 20%;

}
.isRankedRight{
  font-size: 20px;
  font-weight: lighter;
  color: white;
  position: absolute;
  top: 200px;
  right: 18%;
}
.songRanking{

  font-weight: bold;
  font-size: 60px;
  color: rgb(255, 249, 137);
  position: absolute;
  top: 190px;
  left: 18.8%;
}
.inRollingStones{
  position: absolute;
  top: 325px;
  left: 10%;
  font-weight:lighter;
}

.vs {
  background: rgb(255, 255, 255);
  color: black;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  z-index: 1;
  text-align: center;
  line-height: 100px;
  position: absolute;
  top: 40%;
  left: 46%;
  font-size: 32px;
  font-weight: bolder;
}
.higher {
  height: 50px;
  width: 160px;
  font-weight: bold;
  font-family: "Dosis",sans-serif;
  color:rgb(255, 249, 137);
  background-color: transparent;
  border-color: white;
  border-width: 2px;
  border-radius: 30px;
  border-style: solid;
  font-size: 18px;
  position: absolute;
  cursor:pointer;
  top: 52%;
  right: 14%;
  text-align: center;
  transition: background-color .15s, color .15s;  
}
.higher::after{
  content: "\25B2";
  padding-left: 20px;
  color: white;
}
.higher:hover{
  background-color: white;
  color: black; 
}
.higher:hover::after{
  content: "\25B2";
  padding-left: 20px;
  color: black; 
  font-size: 20px;
}

.lower {
  height: 50px;
  width: 160px;
  font-weight: bold;
  font-family: "Dosis",sans-serif;
  color:rgb(255, 249, 137);
  background-color: transparent;
  border-color: white;
  border-width: 2px;
  border-radius: 30px;
  border-style: solid;
  font-size: 18px;
  position: absolute;
  cursor:pointer;
  top: 62%;
  right: 14%;
  text-align: center;
  transition: background-color .15s, color .15s;  
}
.lower::after{
  content: "\25BC";
  padding-left: 20px;
  color: white;
}
.lower:hover{
  background-color: white;
  color: black; 
}
.lower:hover::after{
  content: "\25BC";
  padding-left: 20px;
  color: black;
  font-size: 20px;
}


.than{
  font-size: 20px;
  font-weight: lighter;
  color: white;
  position: absolute;
  top: 375px;
  right: 17%;
}