html, body{

  display: flex;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0%;
  overflow: hidden;

}

.wrap{

  box-sizing: border-box;
  position: relative;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 1;

}

.bg-container{

  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 2;

}

.coverLeft {

  width: 100%;
  height: 100%;
  filter: brightness(80%);

}

.textContent{
  z-index: 3;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 45%;
  margin: auto;  
  top: 20%;
  left: 10%;
  vertical-align: middle;
  color: white;
  font-family: "Dosis",sans-serif;
  text-align: center;
  font-size: 2.4em;
  text-shadow: 1px 0 white;
  letter-spacing: 2px;
  font-weight:bold;
}

.title {

  font-size: 4vw;
  margin-bottom: 0;

}
.ranked {

  margin-top: 5%;
  font-size: 20px;

}

.rank {

  margin-top: 1px;
  margin-bottom: 1px;
  font-size: 60px;
  color: rgb(255, 249, 137);

}

.buttons{

  position: relative;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.button{

  width: 30%;
  height: 50px;
  display: inline-block;
  font-weight: bold;
  font-family: "Dosis",sans-serif;
  color:rgb(255, 249, 137);
  background-color: black;
  opacity: 100%;
  border-color: white;
  border-width: 2px;
  border-radius: 30px;
  border-style: solid;
  font-size: 18px;

}
.button::after{
  content: "\25B2";
  padding-left: 20px;
  color: white;
}
.button:hover{
  background-color: white;
  color: black; 
}
.button:hover::after{
  content: "\25B2";
  padding-left: 20px;
  color: black; 
  font-size: 20px;
}

.spacer{
  height: 10%;
}

.versus-container {

  z-index: 4;
  position: absolute;
  width: 10vw;
  height: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
  color: black;
  font-family: "Dosis",sans-serif;
  text-align: center;
  font-size: 2.4em;
  text-shadow: 1px 0 black;
  letter-spacing: 2px;
  font-weight:bold;
  background-color: transparent;

}

.vs-circle {

  position: relative;
  background: rgb(255, 255, 158);
  color: black;
  width: 100px;
  height: 100px;
  z-index: 1;
  text-align: center;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;

}

.vs {

  width: 100%;
  height: 100%;
  color: black;

}

.spacer-2 {

  height: 100%;

}
.in {
  font-size: 15px;
  font-weight:lighter;
}
.than{ 
  font-size: 20px;
  font-weight: lighter;
}