html, body{
  display: flex;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0%;
  overflow: hidden;
}
.wrap{
  box-sizing: border-box;
  position: relative;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.bg-container{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 2;
}
.coverLeft {
  width: 100%;
  height: 100%;
  filter: brightness(50%);
}
.coverRight {
  width: 100%;
  height: 100%;
  filter: brightness(50%);
}
.textContent-left{
  z-index: 3;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 45%;
  margin: auto;  
  top: 35%;
  left: 10%;
  vertical-align: middle;
  color: white;
  font-family: Helvetica;
  text-align: center;
  font-size: 2.4em;
  text-shadow: 1px 0 white;
  letter-spacing: 2px;
  font-weight:lighter;
}
.textContent-right{
  z-index: 3;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 45%;
  margin: auto; 
  top: 35%; 
  left: 10%;
  vertical-align: middle;
  color: white;
  font-family: Helvetica;
  text-align: center;
  font-size: 2.4em;
  text-shadow: 1px 0 white;
  letter-spacing: 2px;
  font-weight:100;
  opacity: 90%;
  
}
.title {
  font-size: 40px;
  margin-bottom: 2%;
  margin-top: 0;

}
#by{
  font-size: 12px;
  margin-bottom: 0%;
  margin-top: 0%;
  font-family: Helvetica;
}
.ranked {
  margin-top: 2%;
  margin-bottom: 3%;
  font-size: 30px;
  font-weight:lighter;
  font-family: Helvetica;
  font-size: 16px;


}
.rank {
  margin-top: 0%;
  margin-bottom: 0%;
  font-size: 100px;
  font-family: Brush Script MT;
  color: rgb(255, 249, 137);
}
.buttons{
  position: relative;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button{
  width: 42%;
  height: 4473920px;
  display: inline-block;
  font-weight: 100;
  font-family: Helvetica;
  color:rgb(255, 249, 137);
  background-color: transparent;
  opacity: 100%;
  border-color: white;
  border-width: 2px;
  border-radius: 30px;
  border-style: solid;
  font-size: 16px;
  transition: background-color .15s, color .15s; 
}
.button:hover{
  cursor: pointer;
  background-color: white;
  color: black; 
}
#higher{
  margin-top: 2%;
}
#lower{
  margin-top: 2%;
  margin-bottom:2%;

}
#higher::after{
  content: "\25B2";
  padding-left: 20px;
  color: white;
}
#higher:hover::after{
  content: "\25B2";
  padding-left: 20px;
  color: black; 
  font-size: 20px;
}
#lower::after{
  content: "\25BC";
  padding-left: 20px;
  color: white;
}
#lower:hover::after{
  content: "\25BC";
  padding-left: 20px;
  color: black; 
  font-size: 20px;
}
.spacer{
  height: 10%;
}
.versus-container {
  z-index: 4;
  position: absolute;
  width: 10vw;
  height: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
  color: black;
  font-family: Helvetica;
  text-align: center;
  font-size: 2.5em;
  text-shadow: 1px 0 black;
  letter-spacing: 2px;
  font-weight:bold;
  background-color: transparent;
}
.vs-circle {
  position: relative;
  background: rgb(255, 255, 255);
  color: black;
  opacity: 100%;
  width: 80px;
  height: 80px;
  z-index: 1;
  text-align: center;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}
.vs {
  font-family: Helvetica;
  font-size: 30px;
  width: 100%;
  height: 100%;
  color: black;
  font-weight: lighter;
}
.spacer-2 {
  height:100%;
}
.in {
  font-size: 15px;
  font-weight:lighter;
}
.than{ 
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 10%;
}
.scores{
  z-index: 5;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 45%;
  margin: auto; 
  vertical-align: middle;
  color: white;
  font-family: Helvetica;
  text-align: center;
  font-size: 19px;
  text-shadow: 1px 0 white;
  letter-spacing: 2px;
  font-weight:bold; 
  top: -8%; 
  left: 10%;
}
#score{
  font-family: Helvetica;
  font-size: 22px;
  top: 75%; 
  left: 45%;
}
#highscore{
  top: 75%; 
  left: -22%;
  font-size: 22px;

}
#game_over_container{
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 5;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: auto;  
  vertical-align: middle;
  color: white;
  font-family: Helvetica;
  text-align: center;
  font-size: 2.4em;
  text-shadow: 1px 0 white;
  letter-spacing: 2px;
  font-weight:bold;
  display: none;
}
#finalscore{
  font-size: 40px;
  top: 5%; 
  left: 10%;
  color: rgb(255, 249, 137);;
}
#losingimage {
  z-index: 4;
  width: 100%;
  height: 100%;
  filter: brightness(75%);
}

.button1{  
  position: absolute;
  z-index: 5;
  width: 25%;
  height: 70px;
  display: inline-block;
  font-weight: bold;
  font-family: Helvetica;
  color:white;
  background-color: transparent;
  opacity: 100%;
  border-color: white;
  border-width: 2px;
  border-radius: 30px;
  border-style: solid;
  font-size: 30px;
  transition: background-color .15s, color .15s; 
}
#again{
  top: 40%;
  left: 52%;
}
#menu{
  top: 40%;
  left: 23%;
}
.button1:hover{
  cursor: pointer;
  background-color: white;
  color: black; 
}
#menu::after{
  padding-left: 20px;
  color: white;
}
#menu:hover::after{
  padding-left: 20px;
  color: black; 
  font-size: 20px;
}
#again::after{
  padding-left: 20px;
  color: white;
}
#again:hover::after{
  padding-left: 20px;
  color: black; 
  font-size: 20px;
}

.snippet {
  z-index: 9;
}
