.menuBackground{
  opacity: .4;
  position: absolute;
  filter: blur(6px);
  -webkit-filter: blur(6px);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

html {

  overflow: hidden;
  height: 87%;

}

body{

  height: 100%;
  color: white;
  background-color: black;

}

.center {

  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.wrapping {

  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
  margin-top: 6%;

}

.play{
  background-color: rgb(89, 172, 81);
  font-family: "Dosis",sans-serif;
  border: none;
  color: white;
  width: 225px;
  height: 45px;
  border-radius: 19px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.guess{
  color: white;
  font-family: "Dosis",sans-serif;
}

.songEdition{
  font-family:"Audiowide",sans-serif;
  font-size: 50px;
}

.devs, .cons, .net{

  color: white;
  font-family: "Dosis", sans-serif;
  opacity: .7;

}

.bottom {

  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.net {

  text-align:right;
  transform: translate(0%, 70%);
  color: white;

}

.link{

  color: white;

}

.devs {

  transform: translate(0%, 90%);

}

.spacer {

  height: 25%;

}

.spacer1 {

  height: 5%;

}