img.LeftImg {
  width: 600px;
  border-radius: 100px;
  margin-right: 0px;
  position: absolute;
  top: 130px;
  left: 0px;
}
img.RightImg {
  width: 600px;
  border-radius: 100px;
  position: absolute;
  top: 130px;
  right: 10px;
  margin-left: 1px;
}
h1 {
  color: white;
  position: absolute;
  left: 300px;
}
h2 {
  color: white;
  position: absolute;
  left: 375px;
  top: 60px;
}
p {
  color: white;
}
body {
  background-color: black;
  color: white;
}
p.SongTitleLeft {
  font-weight: bold;
  font-size: x-large;
  color: white;
  position: absolute;
  font-family: sans-serif;
  top: 600px;
  left: 0px;
}
p.SongTitleRight {
  font-weight: bold;
  font-size: xx-large;
  font-family: sans-serif;
  color: white;
  position: absolute;
  top: 600px;
  right: 100px ;
}
p.vs {
  font-weight: bold;
  color: white;
  top: 50%;
  left: 50%;
}
button.Higher {
  width: 200px;
  height: 70px;
  font-weight: bold;
  color:yellow;
  background-color: transparent;
  border-color: white;
  border-width: 5px;
  border-radius: 100px;
  font-size: larger;
  font-family: serif;
  position: absolute;
  cursor:pointer;
  top: 150%;
  right: 100px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  
}

button.Higher:hover{
  
  transition-delay: .5s;
  background-color: white;
  color: black;  

}

button.Lower {
  width: 200px;
  height: 70px;
  font-weight: bold;
  border-color: burlywood;
  border-radius: 100px;
  font-size: larger;
  position: absolute;
  top: 770px;
  right: 100px;
  padding: 10px;
  margin: 10px;
  border-width: 5px;
}
